.table {
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
    text-align: center;
}
.wrap{
    width: 90%;
    margin: 20px auto;
}
.flexWrap{
    display: flex;
    justify-content: space-between;
}
.name {
    width: 200px;
}
.count {
    width: 100px;
}
.updated {
    width: 200px;
}
.url {
    width: 200px;
}
.buttons {
    width: 200px;
}